/* Sparkwood and 21 CSS File */

@import "reset.css";
@import "BebasNeue-Regular.ttf";

/*
mobile first
then tablet
then laptop
then desktop
then print function
hide code for employment in here and a logo
 has to be fast so minimised
 probably have to play with SASS SCSS to make everything awesome.
 */

 @font-face {
font-family: 'BebasNeue-Regular';
src: url('BebasNeue-Regular.woff') format('woff');
}

body {
	font: 1.1em/1.45 Cambria, Georgia Pro, Georgia, serif;
	font-variant-numeric: lining-nums;
	color: #111;
	background: #fff9ee;
	margin: 0; padding: 0;
	display: flex;
/*	flex-direction: column; */
	height: 100%;
}

#sprkwd-container {
	
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */

  max-width: 800px; /* 2 */

  padding-right: 10px; /* 3 */
  padding-left:  10px; /* 3 */

}


/*main {
	height: 50%;
}*/


#sprkwd-img {
		padding: 2em 0;
}

h1 {
	font: 3.8em/0.9 'BebasNeue-Regular', Arial, sans-serif;
	color: #454545;

}

a:visited {
	color: #212121;
}

.sprkwd-header-highlight {
	font: 1.2em/0.9 'BebasNeue-Regular', Arial, sans-serif;
	color: #000;
}

#sprkwd-lead {
	font: 2em/1.2 Cambria, Georgia Pro, Georgia, serif;
	padding: 1em 0;
	color: #454545;
}

#sprkwd-lead a:link {
	background-color: #FFFF8D;
	text-decoration: none;
	color: inherit;
	margin: 1px;
}

#sprkwd-lead a:hover {
background-color: #FFFF00;

}

footer {
	font: 0.5em/1 Arial, sans-serif;
	color: #B3A894;
	padding-top: 1em;
	padding-bottom: 10px;
}

footer a:link {
	color: #8298B3;
}