/* Sparkwood and 21 CSS File */

@import "reset.css";
@import "BebasNeue-Regular.ttf";

/*
mobile first
then tablet
then laptop
then desktop
then print function
hide code for employment in here and a logo
 has to be fast so minimised
 probably have to play with SASS SCSS to make everything awesome.
 */

 @font-face {
font-family: 'BebasNeue-Regular';
src: url('BebasNeue-Regular.woff') format('woff');
}

 body {
	font: 1.1em/1.45 Cambria, Georgia Pro, Georgia, serif;
	font-variant-numeric: lining-nums;
	color: #111;
	background: #fff8f8;
	margin: 0; padding: 0;
	display: flex;
	flex-direction: column;
}

#sprkwd-container {
	margin: 2%;
}

#sprkwd-img {
		padding: 2em 0;
}

h1 {
	font: 3.8em/0.9 'BebasNeue-Regular', Arial, sans-serif;
	color: #454545;

}

.sprkwd-header-highlight {
	font: 1.2em/0.9 'BebasNeue-Regular', Arial, sans-serif;
	color: #000;
}

#sprkwd-lead {
	font: 1.3em/1.2 Cambria, Georgia Pro, Georgia, serif;
	padding: 2em 0;
}

#sprkwd-lead a:link {
	background-color: yellow;
	text-decoration: none;
	color: inherit;
	margin: 1px;
}

#sprkwd-lead a:hover {
background-color: orange;

}

footer {
	font: 0.5em/0.9 Cambria, Georgia Pro, Georgia, serif;
	color: grey;
}